
<div id="animal">
  <div>
    <h1> Insert, modify or delete animal informations </h1>
    <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
      Insertion sur une cle primaire qui existe deja
    </div>
      Number : <input class="form-control col-md-4" #numAnimal>
      Name : <input class="form-control col-md-4" #animalName>
      Type : <input  class="form-control col-md-4" #animalType>
      Description : <input  class="form-control col-md-4" #animalDesc>
      Date of birth : <input  class="form-control col-md-4" #animalDob>
      Date of inscription : <input  class="form-control col-md-4" #animalDoi>
      State : <input  class="form-control col-md-4" #animalState>
      <p></p>
      Owner number :
      <select>
          <option *ngFor="let ownerNumber of ownerNumbers" value={{ownerNumber}}>{{ownerNumber}}</option>
      </select>
      <p></p>
    <button type="button" class="btn btn-primary" (click)="insertHotel(hotelNo.value,hotelName.value, hotelCity.value)"> Add Hotel</button>
  </div> 
  <div>
      <div id="ht">
          <button type="button" class="btn btn-primary" (click)="getAnimals()">Get Animals</button>
          <p></p>
          <p></p>
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table id ="ht" class="table table-bordered table-striped mb-0">
              <thead>
                <th> Number </th>
                <th> Name </th>
                <th> Type </th>
                <th> Description </th>
                <th> Date of birth </th>
                <th> Date of inscription </th>
                <th> State </th>
                <th> Owner number </th>
              </thead>
              <tbody>
                <tr *ngFor="let animal of animals">
                  <td> {{animal.num}}</td>
                  <td> {{animal.name}}</td>
                  <td> {{animal.type}}</td>
                  <td> {{animal.desc}}</td>
                  <td> {{animal.dob}}</td>
                  <td> {{animal.doi}}</td>
                  <td> {{animal.state}}</td>
                  <td> {{animal.ownerNum}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  </div>
</div>
<p></p>
<div id="animal">
  <div>
    <h2> Find information on an animal :</h2>
    Name of the animal : <input class="form-control col-md-4" #animalNameInfos>
    <button type="button" class="btn btn-primary" (click)="findAnimalInformation(animalNameInfos.value)"> Find </button>
  </div>
  <div>
    <table id ="ht" class="table table-bordered table-striped mb-0">
      <thead>
        <th> Number </th>
        <th> Name </th>
        <th> Type </th>
        <th> Description </th>
        <th> Date of birth </th>
        <th> Date of inscription </th>
        <th> State </th>
        <th> Owner number </th>
      </thead>
      <tbody>
        <tr *ngFor="let animal of animalsInfo">
          <td> {{animal.num}}</td>
          <td> {{animal.name}}</td>
          <td> {{animal.type}}</td>
          <td> {{animal.desc}}</td>
          <td> {{animal.dob}}</td>
          <td> {{animal.doi}}</td>
          <td> {{animal.state}}</td>
          <td> {{animal.ownerNum}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  
