
<div id="animal">
  <div>
    <h1> Insert, modify or delete animal informations </h1>
    <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
      Insertion sur une cle primaire qui existe deja
    </div>
      Number : <input class="form-control col-md-4" #numAnimal>
      Name : <input class="form-control col-md-4" #animalName>
      Type : <input  class="form-control col-md-4" #animalType>
      Description : <input  class="form-control col-md-4" #animalDesc>
      Date of birth : <input  class="form-control col-md-4" #animalDob>
      Date of inscription : <input  class="form-control col-md-4" #animalDoi>
      State : <input  class="form-control col-md-4" #animalState>
      <p></p>
      Owner number :
      <select>
          <option *ngFor="let ownerNumber of ownerNumbers" value={{ownerNumber}}>{{ownerNumber}}</option>
      </select>
      <p></p>
    <button type="button" class="btn btn-primary" (click)="insertHotel(hotelNo.value,hotelName.value, hotelCity.value)"> Add Hotel</button>
  </div> 
  <div>
      <div>
        <h2> Find an animal treatments history :</h2>
        numAnimal : <input class="form-control col-md-4" #numAnimalTreatment>
        <button type="button" class="btn btn-primary" (click)="findAnimalTreatments(numAnimalTreatment.value)"> Find </button>
      </div>
      <div>
        <h2> Find information on an animal :</h2>
        Name of the animal : <input class="form-control col-md-4" #animalNameInfos>
        <button type="button" class="btn btn-primary" (click)="findAnimalInfos(animalNameInfos.value)"> Find </button>
      </div>
  </div>
</div>

<div id="ht" *ngIf="route != '/room'">
  <button type="button" class="btn btn-primary" (click)="getAnimals()">Get Animals</button>
  <table id ="ht" align="center" border="1" width="350">
    <thead>
      <th> Numéro </th>
      <th> Name </th>
      <th> Type </th>
      <th> Description </th>
      <th> Date of birth </th>
      <th> Date of inscription </th>
      <th> State </th>
      <th> Owner number </th>
    </thead>
    <tbody>
      <tr *ngFor="let animal of animals">
        <td> {{animal.num}}</td>
        <td> {{animal.name}}</td>
        <td> {{animal.type}}</td>
        <td> {{animal.desc}}</td>
        <td> {{animal.dob}}</td>
        <td> {{animal.doi}}</td>
        <td> {{animal.state}}</td>
        <td> {{animal.ownerNum}}</td>
      </tr>
    </tbody>
  </table>
</div>
  
