#animal {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.my-custom-scrollbar {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: auto;
}

.my-custom-scrollbar-2 {
    position: relative;
    height: 200px;
    width: 50%;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

#topOfTable { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}