
<div id="animal">
  <div>
    <h1> Insert, modify or delete animal informations </h1>
    <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
      Insertion sur une cle primaire qui existe deja
    </div>
    <ul style="list-style: none;">
      Number : <li><input class="form-control col-md-4" #numAnimal></li>
      Name : <li><input class="form-control col-md-4" #animalName></li>
      Type : <li><input  class="form-control col-md-4" #animalType></li>
      Description : <li><input  class="form-control col-md-4" #animalDesc></li>
      Date of birth : <li><input  class="form-control col-md-4" #animalDob></li>
      Date of inscription : <li><input  class="form-control col-md-4" #animalDoi></li>
      State : <li><input  class="form-control col-md-4" #animalState></li>
      Owner number :
      <select>
          <option *ngFor="let ownerNumber of ownerNumbers" value={{ownerNumber}}>{{ownerNumber}}</option>
      </select>
    <li><button type="button" class="btn btn-primary" (click)="insertHotel(hotelNo.value,hotelName.value, hotelCity.value)"> Add Hotel</button></li>
    </ul>
  </div> 
  <div>
    <ul style="list-style: none;">
      <div>
        <h2> Find an animal treatments history :</h2>
        numAnimal : <li><input class="form-control col-md-4" #numAnimalTreatment></li>
        <li><button type="button" class="btn btn-primary" (click)="findAnimalTreatments(numAnimalTreatment.value)"> Find </button></li>
      </div>
      <div>
        <h2> Find information on an animal :</h2>
        Name of the animal : <li><input class="form-control col-md-4" #animalNameInfos></li>
        <li><button type="button" class="btn btn-primary" (click)="findAnimalInformation(animalNameInfos.value)"> Find </button></li>
      </div>
    </ul>
  </div>
</div>

<div id="ht" *ngIf="route != '/room'">
  <button type="button" class="btn btn-primary" (click)="getAnimals()">Get Animals</button>
  <table id ="ht" align="center" border="1" width="350">
    <thead>
      <th> Numéro </th>
      <th> Name </th>
      <th> Type </th>
      <th> Description </th>
      <th> Date of birth </th>
      <th> Date of inscription </th>
      <th> State </th>
      <th> Owner number </th>
    </thead>
    <tbody>
      <tr *ngFor="let animal of animals">
        <td> {{animal.num}}</td>
        <td> {{animal.name}}</td>
        <td> {{animal.type}}</td>
        <td> {{animal.desc}}</td>
        <td> {{animal.dob}}</td>
        <td> {{animal.doi}}</td>
        <td> {{animal.state}}</td>
        <td> {{animal.ownerNum}}</td>
      </tr>
    </tbody>
  </table>
</div>
  
