#error{
    color: red;
}

#hts{
    margin-top: 10px;
    margin-bottom: 10px;
}

#ht{
    margin-top: 20px;
}

.title {
    color: red;
}

#table {
    width: 80%;
    height: 200px;
}

.flexCenter {
    display:flex; 
    justify-content: center;
}